body {
    background-color:lightgrey;
}

.center {
    margin: auto;
    padding: 20% 0;
    width: 50%;
}

.canvas {
    left:0;
    right:0;
}

.down500 {
    position:relative;
    top:500px;
}

#canvas-container {
    position:relative;
    height:500px;
    width:500px;
    float:left;
}

#image-layer {
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
}

#crop-layer {
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
}

#ocr-text {
    position:relative; 
    /*margin-left:10px;*/
}

#file-select {
    position:relative;
}
